* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: black;
}

#titulo {
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    text-align: center;
    background: #dddddd;
    margin-bottom: 20px;
    padding: 10px;
}

#rodape {
    text-align: center;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px;
    background: #dddddd;
}

a {
    text-decoration: none;
}

figure {
    width: 90%;
    min-width: 17.5em;
    margin: 0 auto;
}

.boxVideo {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    margin: 0 auto;
}

.boxVideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}